[defaults]
host_key_checking=False
ssh_retries    = 3
forks          = 15
poll_interval  = 15
log_path = ansible.log
jinja2_extensions = jinja2.ext.do,jinja2.ext.i18n
fact_caching = memory
[ssh_connection]
retries=5
ssh_args = -o ControlMaster=auto -o ControlPersist=2m -o ConnectTimeout=60 -o ConnectionAttempts=20[ssh_connection]
